@model MVC_Example1.Models.Persona

<h2>Aggiungi un nuovo contatto</h2>

@if (ViewBag.ErrorMessage != null) {
    <p style="color: red;">@ViewBag.ErrorMessage</p>
}

<form asp-action="AddPersona" asp-controller="Rubrica" method="post">
    <label>Nome:</label>
    <input type="text" name="nome" required /><br />

    <label>Cognome:</label>
    <input type="text" name="cognome" required /><br />

    <label>Telefono:</label>
    <input type="text" name="telefono" required /><br />

    <button type="submit">Aggiungi</button>
</form>
