@model MVC_Example1.Models.Persona

<h2>Aggiungi un nuovo contatto</h2>

@if (ViewBag.ErrorMessage != null) {
    <p style="color: red;">@ViewBag.ErrorMessage</p>
}

<form asp-action="AddPersona" asp-controller="Rubrica" method="post">
    <table>
        <tr>
            <td>
                <label>Nome:</label>
            </td>
            <td>
                <input type="text" name="nome" required /><br />
            </td>
        </tr>
        <tr>
            <td>
                <label>Cognome:</label>
            </td>
            <td>
                <input type="text" name="cognome" required /><br />
            </td>
        </tr>
        <tr>
            <td>
                <label>Telefono:</label>
            </td>
            <td>
                <input type="text" name="telefono" required /><br />
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Aggiungi</button>
            </td>
        </tr>
    </table>
</form>


